<div class="brakets-wrapper">
  <h2>全てのボード</h2>
  <% @boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <div class="board-content">
        <!--<div class="board-thumbnail">
          <%#= image_tag 'common/pic-thumbnail.png' %>
        </div>-->
        <div class="board-txt-block">
          <h3><%= board.title %></h3>
          <p><%= board.content %></p>
        </div>
        <div class="board-user-block">
          <%= image_tag 'common/icon-default-avatar.png', class: 'header-avatar' %>
          <% if board.user.present? %>
            <%= board.user.display_name %>
          <% end %>
          <div class="comment-block">
            <!--<span class="comment-number">23</span>-->
            <%#= image_tag 'common/icon-message-square-outline.svg', class: 'comment-icon' %>
            <span class="board-time">作成日：<%= board.display_created_at %></span>
          </div>
        </div>
        <% if user_signed_in? && current_user.has_written?(board) %>
          <object class="dots-block">
            <div class="dropdown">
              <%= image_tag 'common/icon-dots.svg', class: 'dropbtn' %>
                <div class="dropdown-content mini">
                  <%= link_to '編集する', edit_board_path(board) %>
                  <%= link_to '削除する', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
                </div>
            </div>
          </object>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= link_to new_board_path do %>
    <div class="add-new-card-content">
      <p>+ Add new board</p>
    </div>
  <% end %>
</div>