<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <div class="header-content">
        <% if !current_page?(root_path) %>
            <h1><%= link_to :back do %>Boards<% end %></h1>
          <% else %>
            <h1>Boards</h1>
        <% end %>
        <%= image_tag 'common/icon-default-avatar.png', class: 'header-avatar' %>
      </div>
    </header>
    <main>
      <%if flash.present? %>
        <div class="flash">
          <% flash.each do |key, value| %>
            <p class="<%= key %>"><%= value %></p>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
